head, body, footer {
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background1, footer{
    background: #0f2862;
    clear: both;
}

header {
    font-family:  'Times New Roman', Times, Georgia, serif;
}

/*Color scheme from the following article https://hookagency.com/website-color-schemes/ */
.background2 {
    background: #4f5f76;
}

.background3 {
    background: #091f36;
}

.background4 {
    background: #9e363a;
}

/*Tabs override*/
.nav-tabs{
    background-color:#0f2862;
}
.tab-content{
    background-color:#0f2862;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
    border: medium none;
}
.nav-tabs > li > a:hover{
    background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}

/*Avoid overflow*/
.tab-pane{
    height:300px;
    overflow-y:scroll;
    width:100%;
  }