
/*=== Navbar, Footer ===*/
.background-navbar, footer{
    background: #0f2862;
    clear: both;
}

.navbar-resume{
    color: white;
}

/*=== Footer text ===*/

footer {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*=== html padding at bottom accounting for fixed bottom footer space ===*/
html { 
    margin-bottom: 65px 
}

/*=== Header/ Jumbotron===*/

.background-jumbotron {
    background: rgb(42, 174, 235);
}

/*=== Jumbotron text ===*/
header {
    font-family:  'Times New Roman', Times, Georgia, serif;
    color: rgb(0, 0, 0);
}

/*=== Body ===*/

/*=== Background color control for color scheme experimentation ===*/
.background-page {
    background: white;
}

.background-body {
    background: white;
}

/*=== Body text ===*/
body{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
